body{
    background-color: #141414;
    display: flex;
    height: 42em;
    /* Para alinhar horizontalmente e verticalmente, respectivamente os conteudos */
    justify-content: center; align-items: center;
    overflow: hidden;
}

.caixa{
    height: 33em;
    width: 22em;
    background-color: #1F1F1F;
    border-radius: 4%;
    justify-content: center;
    display:flex;

}

.imagem{
    position: fixed;
    border-radius: 90%;
    width: auto;
    height: 6em;
    top: 5em;
}
.Containerdobutao{
    display: flex;
    width: 19em;
    margin-top: 29em;
    flex-direction: column;

}

.botao{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    background-color: #333333;
    margin: 1%;
    display: block;
    width: 18em;
    height: 3em;
    border: none;
    border-radius: 1rem;
    transition: transform 1.5s ease-in-out;
    display: inline-block;
}

.botao:hover{
    background-color: #F70084;
    color: black;
    transform: scale(1.1);
    cursor: pointer;
}

.London{
    color: #F70084;
    top: 13.1em;
    font-size: 1em;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    position: fixed;
}
.Jessica{
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    position: fixed;
    justify-content: center;
    top: 6em;
    font-size: 1.8em;
}

.Front{
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
    position: fixed;
    justify-content: center;
    top: 19em;
    font-size: 0.8em;
}

.caixa1{
    height: 28.3em;
    width: 11.2em;
    border-radius: 1em;
    justify-content: center;
    align-items:end;
    display: flex;
    position: fixed;

}






}

